body {
  margin: 0;
  padding: 0;
  background-image: url("background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
}

.container {
  text-align: center;
  padding: 35px;
  background-color: rgba(255, 255, 255, 0.8);
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  margin-right: 40px;
}